<footer>
	<div class="content-padding">
		<div class="footer-content">
			<p>Made with <i class="fa fa-heart"></i> and <i class="fa fa-coffee"></i> by Rio Erlangga &copy 2018</p>
		</div>

		<div class="social-media-icons">

			<p>kindly check my social media </p>

			<a href="https://www.instagram.com/rioerlngga/">
				<i class="fa fa-instagram"></i></a>
			
			<a href="https://twitter.com/nocaptainrio"><i class="fa fa-twitter"></i></a>
			
			<a href="https://www.facebook.com/Rio.ErlanggaPBers"><i class="fa fa-facebook"></i>
			</a>
			
			<a href="#"><i class="fa fa-github"></i></a>
		</div>

	</div>
</footer>