<!DOCTYPE html>
<html lang="en">
  <head>
    <title> test app</title>
    <% include partials/head.ejs %>

  </head>
  <body>
  
  <% include partials/header.ejs %>

    <div id="hero-image-notFound">
      <h1 id="hero-title"><%= title %></h1>
    </div>
    
  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <% include partials/footer.ejs %>
     <% include partials/scripts.ejs %>
  </body>
</html>

